# python3.12 -m venv .venv

torch
torchvision
matplotlib
numpy
seaborn
scikit-learn
gymnasium
stable-baselines3
ipykernel
notebook
mujoco
mediapy
onshape-to-robot
pygame

# ./.venv/bin/python -m pip install -r requirements.txt 
